= content_for(:title, "Members")

%table{ class: "table table-hover table-striped" }
  %thead
    %tr
      %th Member login
      %th Member's full name
      %th Email
      - if current_member.try(:admin)
        %th{ colspan: 2 }
  %tbody
    - @members.each do |member|
      %tr      
        %td= link_to member.login, member
        %td= member.full_name
        %td= member.email
        - if can? :destroy, member
          %td= link_to "Edit profile", edit_member_path(member)
          %td= link_to "Delete", member, method: :delete, 
                                                data: { confirm: "Are you sure?" }
